<!DOCTYPE html>
<html>
<head>
	<title>.NodeJS.</title>
	<style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 3em;
        }
    </style>
</head>
<body>
	
	<hr/>
	<h1>Hello, dear <%=login%>, welcome to...</h1>
	<hr/>
	<ul>
		<li>playing football</li>
		<li>playing ches</li>
		<li>cycling</li>
	</ul>

</body>
</html>